* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #1D1D1B;
  color: white;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}