
body { background:black; }

#root { margin:0em; max-width:90em; background:#1c1c1a; font-family:roboto; overflow-x:hidden;
    display:flex; flex-direction:column; align-items:center; }



#vidiv { margin:0em 2.5em; background-color:green; position:relative; }

#vidctrl { display:flex; justify-content:center; align-items:center;
    position:absolute; top:0; bottom:0; left:0; right:0; }



#section1 { display:flex; flex-direction:column; align-items:center; }

#section1 div { display:flex; flex-wrap:wrap; justify-content:space-between; background:blue;
    width:70em }

#section1 article { width:20em; background:yellow; }


#section1 #africa { flex-wrap:wrap-reverse; }

#section1 #man { flex-wrap:wrap; flex-direction:row-reverse; }

#section1 #man img { background:red; }



#section2 { background:url("../../assets/images/sectback.png") 0px center; background-size:100% 108%;
    width:100%; margin:0 2em; }

#section2 #backlineaire { background:rgba(0,0,0,0.7); display:flex; justify-content:center;
    width:100%; }

#section2 aside { width:17.5em; height:17em; color:white; border-left:2px solid white;
    text-align:center; padding:3em 2em; box-sizing:border-box; }

#section2 aside h2 { color:yellow; }

#section2 aside:nth-child(1) { border:0px; }




#section3 { position:relative; height:60em; background:red; overflow:hidden; margin-bottom:4em; }

#lamp { position:absolute; top:0em; left:13em; transform:rotate(-31.84deg); height:740px; }

#cam { position:absolute; top:12em; left:40em; transform:rotate(17.08deg); height:380px; }

#section3 img:hover { scale:1.1; }


#objectifs { positio:absolute; bottom:0; width:100%; height:20em; display:flex; justify-content:
    space-between; align-items:center; flex-wrap:wrap; overflow:hidden; background:green;
    margin-left:6em; }


#article { width:40em; overflow:hidden; background:red; }

#article h1 { text-transform:none; font-weight:normal; font-size:35px; font-weight:bold; }

#article span { text-decoration:underline; }


#asides { display:flex; background:blue; }

#asides .asid { width:250px; height:280px; border-radius:15px; transform:skew(-37deg);
    margin:0em 0.5em; overflow:hidden; }

#asides .asid img { transform:skew(37deg); margin-left:-7em; }

#asides .asid img:hover { scale:1.2; }
