@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf') format("TrueType");
}

body { margin:0em; font-family:roboto; }


nav { display:flex; padding:25px 60px; justify-content:space-between; align-items:center;
    border-bottom:2px solid; border-image-source:url(../assets/tools/bar.png); border-image-slice:10; }

nav ul { display:flex; align-items:center; }


#logodiv img { width:172px; height:41px; }
    
#menu li { font-size:14px; font-weight:bold; font-style:normal; text-align:center; letter-spacing:1.25px;
    text-transform:uppercase; width:125px; color:white; }


#tools li { margin:0em 1em; }

#tools button { background:rgba(0,0,0,0); border-radius:8px; width:180px; height:46px; color:white;
    text-transform:uppercase; font-size:15px; font-weight:bold; border:1px solid white; }

#tools button:hover { background:white; color:black; }

    
a { text-decoration:none; color:black; }

li { list-style:none; }



#title { display:flex; align-items:center; margin:1em 0; margin-left:3.1em; color:white;
    font-weight:bold; }

#title img { margin-right:6px; }
